# 숫자형

In [ ]:
#컴퓨터식 지수 표현 방식
a = 4.24E10 # 4.24 * 10^10
a = 4.24e-10 # 4.24 * 10^-10

# 8진수
a = 0o177 # 1 * 8^2 + 7 * 8^1 + 7 * 8^0 = 127

# 16진수
a = 0xABC # 10 * 16^2 + 11 * 16^1 + 12 * 16^0 = 2748

# 연산자
a = 3
b = 4
a ** b # a^b = 3^4 = 81
7 / 4 # 1.75
7 // 4 # 1(몫만 반환)
7 % 4 # 3 (나머지만 반환)

# 문자형 자료형

In [1]:
# 큰따옴표를 포함시키고 싶으면 작은따옴표로 싸기
say = '"Python is very easy". he says.'

# 둘 다 포함하기
food = 'Python\'s favorite food is perl' # \ 뒤에 있는 '은 ' 자체로 인식하게 됨

# 엔터를 포함하기
multiline = "Life is too short\nYou need python"

print(say)
print(food)
print(multiline)

"Python is very easy". he says.
Python's favorite food is perl
Life is too short
You need python

In [2]:
print("="*50)
print("My program")
print("="*50)

==================================================
My program
==================================================

In [6]:
a = "Life is short, You need Python"
print(a[3]) # a라는 문자열의 네번째 문자 e를 의미한다.
print(a[12])
print(a[-1]) # 가장 끝 문자를 의미함.
print(a[0:4]) # 문자열 슬라이싱, 자리 번호 0부터 4까지의 문자를 뽑아낸다. 이때 마지막 4는 포함하지 않음.

e
t
n
Life

In [5]:
b = a[0] + a[1] + a[2] + a[3]
print(b)

Life

## 문자열 포매팅

문자열 안에 어떤 값을 삽입하는 방법

In [9]:
form = "I eat %d apples" % 3 # 여기서 %d 가 문자열 포맷 코드이다. 숫자를 넣기 위해서 %d, 문자열을 넣기 위해서 %s
print(form)

form = "I eat %s apples" % 'five'
print(form)

number = 10
day = 'three'
form = "I ate %d apples. so I was sick for %s days." % (number, day) # 2개 이상의 값을 넣으려면 % 다음 괄호 안에 쉼표로 구분해 표시
print(form)

I eat 3 apples
I eat five apples
I ate 10 apples. so I was sick for three days.

In [14]:
# 정렬과 공백
hi = "%10s" % "hi" # %10s 는 전체 길이가 10칸인 문자열에서, 대입하는 hi를 오른쪽에 정렬하고 앞의 나머지는 공백으로 남겨둔다는 의미
print(hi)

name = "%-10sjane" % "hello" # %-10s 는 전체 길이 10칸인 문자열에서, 왼쪽으로 hello 를 정렬하고 남은 5칸은 공백으로 남겨둔다
print(name)

        hi
hello     jane

In [15]:
# format 함수로 문자열 포맷 지정
a = "I eat {0} apples".format(3)
print(a)

number = 10
day = "three"
a = "I ate {0} apples. so I was sick for {1} days.".format(number, day) # 두 개 이상의 값을 넣을 경우에는, 순서에 맞게
print(a)

# 이름으로 지정
a = "I ate {number} apples. so I was sick for {day} days.".format(number = 10, day = 3)
print(a)

I eat 3 apples
I ate 10 apples. so I was sick for three days.
I ate 10 apples. so I was sick for 3 days.

In [18]:
# format 함수로 정렬
a = "{0:<10}".format("hi") # 화살표 방향대로, 전체 10칸 중에서 왼쪽에 정렬
print(a)

a = "{0:>10}".format("hi") # 오른쪽에 정렬
print(a)

a = "{0:^10}".format("hi") # 가운데 정렬
print(a)

a = "{0:=^10}".format("hi") # 공백 채우기
print(a)

hi
        hi
    hi
====hi====

## 관련 함수

In [21]:
a = "Taeyeon"
print(a.count('e')) # a 라는 문자열에서, e 의 개수를 리턴한다.
print(a.find('o')) # 첫번째로 o 가 나온 위치를 리턴한다.
print(a.find('x')) # 없으면 -1 을 리턴
print(a.index('y')) # find 와 똑같은데, 없으면 오류 발생함

2
5
-1
3

In [22]:
new = ",".join('abcd') # abcd 사이에 , 를 삽입한다
print(new)

a,b,c,d

In [26]:
# 그 외 upper, lower
# 왼쪽 공백 지우는 lstrip, 오른쪽 공백 rstrip, 양쪽 공백 strip

a = "Life is too short"
a = a.replace("Life", "Your leg") # 문자열 바꾸기
print(a)

a = a.split() # 문자열 나누기
print(a)

Your leg is too short
['Your', 'leg', 'is', 'too', 'short']

# 리스트 자료형

In [27]:
a = [1,2,3]
print(a[0] + a[2])

4

In [28]:
a= [1,2,3,['a', 'b', 'c']]
print(a[3])
print(a[3][0]) # 네번째 abc 인덱스에서 첫번째 값을 꺼낸다

['a', 'b', 'c']
a

In [29]:
a = [1,2,3]
b = [4,5,6]
print(a+b) # 문자열처럼 뒤에 더 붙는다고 이해하면 좋음
print(a*3) # 문자열과 동일

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [32]:
a = [1,2,3]
del a[1] # a의 1번째 요소값을 삭제한다는 의미
print(a)

a = [1,2,3,4,5]
del a[3:]
print(a)

[1, 3]
[1, 2, 3]

In [36]:
a = [1,2,3]
a.append(4) # 4를 맨 뒤에 삽입한다.
print(a)

a = [4,2,6,2,4,6,9,1]
a.sort() # 정렬
print(a)

a = [1,2,3]
a.insert(0,4) # 0번째 위치에 4를 삽입한다. (위치까지 같이 지정)
print(a)

a = [1,2,3]
a.extend([4,5]) # extend 뒤에는 리스트만 올 수 있고, 원래 리스트에 이 리스트를 더해준다
print(a)

[1, 2, 3, 4]
[1, 2, 2, 4, 4, 6, 6, 9]
[4, 1, 2, 3]
[1, 2, 3, 4, 5]

# 튜플 자료형

튜플의 요소값은 한번 정하면 지우거나 변경할 수 없음. 그 외는 리스트와 동일

In [37]:
t1 = (1,2,'a','b')
t1[0]

1

# 딕셔너리 자료형

이름 = 홍길동, 생일 = 몇월며칠 같은 방식으로 대응 관계를 나타낼 수 있다.

key와 value 를 한 쌍으로 가지는 자료형이다.

리스트나 튜플처럼 순차적으로 요솟값을 구하는 것이 아니라, key를 통해 value 를 얻는다.

In [39]:
dic = {'name' : 'min', 'phone' : '010-9999-1234', 'birth' : '0108'}

dic

{'name': 'min', 'phone': '010-9999-1234', 'birth': '0108'}

In [42]:
a = {1 : 'hi'}
a[2] = 'b' # key = value 형식으로!!
print(a)

a['name'] = 'min'
print(a)

del a[1] # 지정한 키에 해당하는 쌍이 삭제된다.
print(a)

{1: 'hi', 2: 'b'}
{1: 'hi', 2: 'b', 'name': 'min'}
{2: 'b', 'name': 'min'}

In [43]:
dic = {'name' : 'min', 'phone' : '010-9999-1234', 'birth' : '0108'}

dic['name'] # 키를 통해 value 얻는 방법!!

'min'

In [45]:
dic = {'name' : 'min', 'phone' : '010-9999-1234', 'birth' : '0108'}
print(dic.keys()) # 키만 모여 있는 리스트가 리턴된다.
print(dic.values()) # value만 모여 있는 리스트
print(dic.items()) # key, value 쌍 얻기
dic.clear() # 쌍 모두 지우기
dic

dict_keys(['name', 'phone', 'birth'])
dict_values(['min', '010-9999-1234', '0108'])
dict_items([('name', 'min'), ('phone', '010-9999-1234'), ('birth', '0108')])

{}

In [47]:
dic = {'name' : 'min', 'phone' : '010-9999-1234', 'birth' : '0108'}

print(dic.get('birth')) # get 명령어로, key에 대응된s value 를 return 한다.

print('favorite' in dic) # dic 안에 그 key 가 있는지 확인하는 명령어 in

0108
False

# 집합 자료형

In [49]:
s1 = set([1,2,3])
print(s1)
s2 = set("hello") # 결과 확인해 보면, 중복 허용하지 않고 순서도 없다.
print(s2)

{1, 2, 3}
{'o', 'l', 'h', 'e'}

In [50]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

print(s1 & s2) # 교집합
print(s1 | s2) # 합집합
print(s1 - s2) # 차집합

{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}

In [51]:
s1 = set([1,2,3])
s1.update([4,5,6]) # 새로 값 추가할 때 update
s1

{1, 2, 3, 4, 5, 6}

# 불 자료형

True, False 만을 나타내는 자료형이다. 첫 문자를 항상 대문자로 작성해야 한다.

> 자료형에도 참과 거짓이 있는데, 문자열, 리스트, 튜플, 딕셔너리 등의 값이 비어 있으면("", [], (), {}) 거짓이 되고 아니면 참이 된다.

> 숫자에서는 그 값이 0이 될 때 거짓이다.

In [56]:
a = True
b = False
type(a)

bool

In [57]:
1==1 # 조건문의 리턴값으로도 사용된다. 1이 1과 같은지를 묻는 조건문이다.

True

In [58]:
bool('python') # 값이 비어 있지 않으므로 true

True

# 변수

객체를 의미한다.

    a = [1, 2, 3] 에서 리스트가 자동으로 메모리에 생성되고, a는 그 리스트가 저장된 메모리의 주소를 가리키게 된다.

In [59]:
a = [1,2,3]
id(a)

1916044914624

In [60]:
b = a
print(id(a))
print(id(b))
print(a is b) # 동일한 객체를 가리키고 있기 때문에 참이다.

1916044914624
1916044914624
True

In [61]:
# 다른 주소를 가리키게 하는 방법
b = a[:] # a의 주소를 가져오는 것이 아니라, 리스트 전체를 가리키는 [:] 로 복사를 해준 것이다.
a[1] = 4
print(a)
print(b)

[1, 4, 3]
[1, 2, 3]